/target
Cargo.lock
decision_tree.c
decision_tree.s
tree.png
decision_tree
decision_forest.c
decision_forest
size_data.csv
size_data_test.csv
size_data_default.csv
accuracy_data.csv
size_and_accuracy_data.csv
size_and_accuracy_data_old.csv
size_and_accuracy_data_klisch_float.csv
size_and_accuracy_data_kubik_int.csv
size_and_accuracy_data_klisch_int.csv
size_and_accuracy_data_kubik_float.csv
size_and_accuracy_data_klisch_float.csv
saad_c1.csv
saad_c2.csv
saad_c3.csv
saad_c4.csv