/target
Cargo.lock
decision_tree.c
decision_tree.s
tree.png
decision_tree
decision_forest.c
decision_forest
size_data.csv
size_data_test.csv
size_data_default.csv
accuracy_data.csv
size_and_accuracy_data.csv