/target
Cargo.lock
decision_tree.c
decision_tree.s
tree.png
decision_tree
decision_forest.c
decision_forest
decision_forest_avr
size_data.csv
size_data_test.csv
size_data_default.csv
accuracy_data.csv
size_and_accuracy_data.csv
size_and_accuracy_data_old.csv
size_and_accuracy_data_klisch_float.csv
size_and_accuracy_data_kubik_int.csv
size_and_accuracy_data_klisch_int.csv
size_and_accuracy_data_kubik_float.csv
size_and_accuracy_data_klisch_float.csv
saad_c1.csv
saad_c2.csv
saad_c3.csv
saad_c4.csv
saad_c5.csv
saad_c6.csv
saad_c7.csv
saad_c8.csv
saad_c9.csv
saad_c10.csv
saad_c11.csv
data_min_sample_leaf_big.csv
data_min_sample_leaf_small.csv
ccp_alpha_big.csv
ccp_alpha_small.csv
light_eval.csv
light_eval2.csv
light_test.csv
light_test2.csv
best_configs.csv
eval_data.csv